h2 {
  font-size: 2rem;
  margin-top: 1rem;
}

ol, ul {
  color: white;
}

p {
  color: white;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
p > code {
  color: #DE8F6E;
}

li > code {
  color: #DE8F6E;
}

a {
  text-decoration: underline;
}


pre {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
