---
import Layout from '../../layouts/Layout.astro';
import LinkCard from '../../components/LinkCard.astro'

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.md');
  const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<Layout title={tag}>
  <main class="m-auto max-w-xl p-6">
    <p>Posts tagged with {tag}</p>
    <ul>
      {posts.map(post => <LinkCard title={post.frontmatter.title} body={post.frontmatter.pubDate.slice(0,10)} link={post.url} />)}
    </ul>
  </main>
</Layout>
