---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="About">
	<main class="m-auto max-w-xl p-6">
		<h1 class="text-lg font-bold">About Me</h1>
		<p>I type the words and runs the code.</p>
	</main>
</Layout>
