---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import BlogPostCard from "../components/BlogPostCard.astro";
const allPosts = await getCollection("posts");
allPosts.sort((a, b) => Date.parse(b.data.pubDate.toString()) - Date.parse(a.data.pubDate.toString()));
---
<Layout title="Blog">
  <main class="mt-8 lg:mt-0">
    <h1 class="text-3xl">Blog Posts</h1>
    <ul class="mt-12">
      {allPosts.map((post) => <BlogPostCard title={post.data.title}
                                            description={post.data.description}
                                            link={`/posts/${post.slug}/`}
                                            date={post.data.pubDate} />)}
    </ul>
	</main>
</Layout>
