---
import Layout from '../layouts/Layout.astro';
import LinkCard from '../components/LinkCard.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<Layout title="Blog">
	<main class="m-auto p-6">
    <ul>
      {allPosts.map((post) => <LinkCard title={post.frontmatter.title} body={post.frontmatter.description} link={post.url} />)}
    </ul>

	</main>
</Layout>
