---
import Layout from '../layouts/Layout.astro';
import Landing from '../components/Landing.astro';
import Portfolio from '../components/Portfolio.astro';
import Resume from '../components/Resume.astro';
import About from '../components/About.astro';
---

<Layout title="Chris Bohlman: Software Engineer">
	<main class="">
    <section id="heading" class="m-auto h-70v md:h-auto sm:h-50v p-6 my-12" >
      <Landing />
    </section>

    <section id="experience" class="m-auto p-6">
      <Resume />
    </section>

    <section id="projects" class="m-auto p-6 pt-28 md:pt-20">
      <h2 class="text-3xl mb-5">Projects</h2>
      <Portfolio />
    </section>

    <section id="about" class="m-auto p-6 pt-28 md:pt-20">
      <h2 class="text-3xl mb-5">About Me</h2>
      <About />
    </section>

    <section id="contact" class="text-center m-auto p-6 mb-20">
      <a class="text-3xl mx-auto text-center p-3 med:p-5 text-copper-crayola border rounded-md border-solid border-copper-crayola hover:bg-copper-crayola/25 transition duration-300 ease-in-out" href="mailto:cbohlman_inquiries@protonmail.com">Want to get in touch with me?</a>
    </section>

  </main>
</Layout>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
