---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="cjbohlman">
	<main class="m-auto max-w-xl p-6">
		<h1 class="text-lg font-bold">Hello world, my name is Christopher Bohlman!</h1>

    <p>I am currently working as a software developer at <span class="font-bold">Schoolhouse Electric</span>.</p>

    <p>I graduated from the <span class="font-bold">University of Arizona</span> with a <span class="font-bold">BSc in Computer Science</span>.</p>

    <p>Even after college, I am still looking to learn more about programming!</p>

    <p>I write here about whatever programming topics tickle my fancy.</p>

    <p>Please look through my blog, portfolio, or GitHub profile to check out what I have been working on.</p>
	</main>
</Layout>
