---
import Layout from '../layouts/Layout.astro';
import LinkCard from '../components/LinkCard.astro';
---

<Layout title="Portfolio">
	<main class="m-auto max-w-xl p-6">
    <ul role="list" class="link-card-grid">
      <LinkCard
          title="Personal Github Repo"
          body="Check out what I do!"
          link="https://github.com/cjbohlman"
        />
      <LinkCard
          link="https://github.com/cjbohlman/eisenhower-matrix"
          title="Eisenhower Matrix"
          body="Lightweight Eisenhower matrix web app"
        />
      <LinkCard
        link="https://github.com/cjbohlman/smogon_scraper"
        title="Smogon Scraper"
        body="Web scraper of Smogon data, a competitive e-sports website"
      />
      <LinkCard
        link="https://github.com/cjbohlman/cjbohlman.github.io"
        title="Personal Website"
        body="Proudly made with Astro"
      />
      <LinkCard
        link="https://github.com/cjbohlman/parallel-computing-problems"
        title="Parallel Computing Problems in C"
        body="Implemented various parallel computing problems with C POSIX threads"
      />
    </ul>
  </main>
</Layout>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
