---
---

<p class="text-white">
  Hey there! I am a prgrammer located in the Pacific Northwest. Originally I grew up in the Southwestern US, but I moved to the PNW and ended up falling in love.
  My fiance and I have 6 cats and dogs, and we love the chaos that it brings.
  When we're not entertaining our animals, you can find us hiking, playing board games, and searching for authentic burritos (not Taco Bell 😞).
  Some of my personal hobbies include playing Dark Souls, tinkering with hardware and software, and <s>playing</s>attempting to play the guitar.
  I'm always looking for interesting projects and topics, so if you'd like to chat, shoot me an e-mail!
</p>

