---
import ExperienceItem from "./ExperienceItem.astro"
const educationArr = [
  {
    location: "Certified Ethical Hacker",
    dateRange: "2024",
    title: "v12",
  },
  {
    location: "University of Arizona",
    dateRange: "2015 - 2019",
    title: "BSc in Computer Science",
    description: "GPA: 3.729, Minors in Mathematics and Physics",
  }
]
---
<section id="experience" class="mt-12">
  <h2 class="text-xl">Education and Certifications</h2>
  <ul>
    {educationArr.map((data) => <ExperienceItem location={data.location} dateRange={data.dateRange} description={data.description} title={data.title}/>)}
  </ul>
</section>
