---
const name = "Christopher Jellesma-Bohlman"
const jobTitle = "Software Engineer | Food52, Schoolhouse Electric, Dansk"
const blurb = "I'm Chris, a software engineer based in the Pacific Northwest. I specialize in building full-stack applications with a variety of different technologies. I have a passion for cybersecurity, solving problems, and learning as much as I can."
---
<section id="heading" class="" >
  <h1 class="text-3xl font-extrabold">
    {name}
    <br>
    <span class="text-2xl mt-2 opacity-80 font-medium">{jobTitle}</span>
  </h1>

  <p class="mt-4 opacity-80 font-thin">{blurb}</p>
</section>
