---
const name = "Chris Bohlman"
const jobTitle = "Software Engineer, Schoolhouse Electric"
const blurb = "I'm Chris, a software developer based in the Pacific Northwest. At Schoolhouse, I'm working on the front-end of a Shopify e-commerce store and managing a Python/PostgresQL reporting back-end. I'm also furthering my cybersecurity knowledge after completing the Certified Ethical Hacker certification."
---
<section id="heading" class="" >
  <h1 class="text-3xl font-extrabold">
    {name}
    <br>
    <span class="mt-2 opacity-80 font-medium">{jobTitle}</span>
  </h1>

  <p class="mt-4 opacity-80 font-thin">{blurb}</p>
</section>
