<h1 class="text-5xl uppercase font-bold">Chris Bohlman</h1>
<h2 class="font-serif text-2xl pl-1">Software Engineer @ Schoolhouse</h2>

<p class="text-lg mt-8">He is currently...</p>
<ul class="list-['-']">
    <li class="text-sm font-light pl-2 ml-2">Based in the Pacific Northwest</li>
    <li class="text-sm font-light pl-2 ml-2">Focused on full-stack development</li>
    <li class="text-sm font-light pl-2 ml-2">Graduated from the University of Arizona with a BSc in Computer Science</li>
</ul>