---
const points = ['Based in the Pacific Northwest', 'Focused on full-stack development', 'Graduated from the University of Arizona with a BSc in Computer Science']
---
<h1 class="text-5xl lg:text-8xl uppercase tracking-wider font-black">Chris Bohlman</h1>
<h2 class="font-serif text-2xl pl-1">Software Engineer @ Schoolhouse</h2>

<p class="text-lg mt-8 lg:ml-1">He is currently...</p>
<ul class="list-['-']">
  {points.map(element =><li class="text-sm font-light pl-2 ml-2">{element}</li> )}
</ul>
