---
const points = [
  'Working on Shopify store full-stack development using NextJS',
  'Managing a Python/PostgresQL reporting ecommerce back-end',
  'Furthering cybersecurity knowledge after completing Certified Ethical Hacker certification',
]
---
<h2 class="font-serif text-2xl lg:text-5xl uppercase">Software Engineer @ Schoolhouse</h2>

<p class="text-lg lg:text-2xl mt-8 lg:ml-1">He is currently...</p>
<ul class="list-['-']">
  {points.map(element =><li class="text-sm lg:text-lg font-light pl-2 ml-2">{element}</li> )}
</ul>
