---
import NavigationItem from "./NavigationItem.astro";

const navItems = [
  {
    "name": "Home",
    "ref": "",
    "icon": `<svg style="height: 50px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path class="fill-white" d="M3.018 10.982 3 11h2v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-9h2l-.018-.018a.986.986 0 0 0 .85-.427 1 1 0 0 0-.278-1.387l-9-6a1 1 0 0 0-1.11 0L8 5.465V4a1 1 0 0 0-2 0v2.8L2.446 9.168a1 1 0 0 0-.278 1.387.983.983 0 0 0 .85.427zM14 19h-4v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1zm-4-8h4a1 1 0 0 1 0 2h-4a1 1 0 0 1 0-2z"></svg>`
  },

  {
    "name": "Portfolio",
    "ref": "portfolio",
    "icon": `<svg style="height: 50px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 91 91"><path class="fill-white" d="M56.881 75.739c-8.892 2.366-18.762.091-25.735-6.883-7.913-7.913-9.798-19.553-5.689-29.257L42.93 57.07c3.902 3.902 10.238 3.906 14.14 0a9.994 9.994 0 0 0 0-14.141L39.6 25.456c9.703-4.111 21.343-2.224 29.257 5.687 6.975 6.976 9.254 16.853 6.885 25.746L86.066 67.21C88.561 61.992 90 56.172 90 50c0-22.086-17.904-40-39.997-40C27.911 10 10 27.91 10 50s17.91 40 40.003 40c6.172 0 11.989-1.438 17.208-3.932l-10.33-10.329z"/></svg>`
  },
  {
    "name": "Resume",
    "ref": "resume",
    "icon": `<svg style="height: 50px;" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 50 50"><path class="fill-white" d="M41 0H11a1 1 0 0 0-1 1v3H7a1 1 0 0 0-1 1v42a1 1 0 0 0 1 1h30a1 1 0 0 0 1-1v-3h3a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zm-5 46H8V6h20v7a1 1 0 0 0 1 1h7zM30 7.41 34.59 12H30zM40 42h-2c0-31 .14-29.28-.29-29.71C29.08 3.66 29.61 4 29.06 4H12V2h28z"/><path class="fill-white" d="M32 22H12a1 1 0 0 0 0 2h20a1 1 0 0 0 0-2zM32 17H12a1 1 0 0 0 0 2h20a1 1 0 0 0 0-2zM32 27H12a1 1 0 0 0 0 2h20a1 1 0 0 0 0-2zM32 32H12a1 1 0 0 0 0 2h20a1 1 0 0 0 0-2zM22 37H12a1 1 0 0 0 0 2h10a1 1 0 0 0 0-2z"/></svg>`
  },
  {
    "name": "Blog",
    "ref": "blog",
    "icon": `<svg style="height: 50px;" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 65 65"><g data-name="File Coding"><path class="fill-white" d="m53.707 11.293-11-11A1.122 1.122 0 0 0 42 0H11a1 1 0 0 0-1 1v62a1 1 0 0 0 1 1h42a1 1 0 0 0 1-1V12a1.09 1.09 0 0 0-.293-.707zM50.586 11H43V3.414zM12 62V2h29v10a1 1 0 0 0 1 1h10v49z"/><path class="fill-white" d="M26.781 30.375a1 1 0 0 0-1.406-.156l-5 4a1 1 0 0 0 0 1.562l5 4a1 1 0 0 0 1.25-1.562L22.6 35l4.024-3.219a1 1 0 0 0 .157-1.406zM38.625 30.219a1 1 0 0 0-1.25 1.562L41.4 35l-4.024 3.219a1 1 0 0 0 1.25 1.562l5-4a1 1 0 0 0 0-1.562zM34.2 24.02a1 1 0 0 0-1.176.784l-4 20a1 1 0 0 0 1.96.392l4-20a1 1 0 0 0-.784-1.176z"/></g></svg>`
  },
  {
    "name": "About",
    "ref": "about",
    "icon": `<svg style="height: 50px;" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 30 30"><path  class="fill-white" d="M16 14c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7zm0-12c-2.757 0-5 2.243-5 5s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5zM27 32a1 1 0 0 1-1-1v-6.115a6.95 6.95 0 0 0-6.942-6.943h-6.116A6.95 6.95 0 0 0 6 24.885V31a1 1 0 1 1-2 0v-6.115c0-4.93 4.012-8.943 8.942-8.943h6.116c4.93 0 8.942 4.012 8.942 8.943V31a1 1 0 0 1-1 1z"/></svg>`
  },
];


---
<nav class="flex flex-col sm:flex-row items-center sm:justify-between bg-gray-900">
  <span class="text-3xl sm:text-5xl font-bold sm:ml-5 mb-3 sm:mb-0">Chris Bohlman</span>

  <ul class="flex sm:mr-5">
    {navItems.map((data) => <NavigationItem name={data.name} ref={data.ref} icon={data && data.icon}/>)}
  </ul>

</nav>
<div style="height: 2px; background: linear-gradient(to right, #E71D36, #772014);"></div>


