---
const {name, ref, type} = Astro.props
const pathname = Astro.url.pathname.substring(1);
---
<li class="flex flex-col justify-center mx-1 last:mr-0 opacity-80 hover:opacity-100 transition duration-300 ease-in-out">
  <a class="" href={ref}>
    <span class="tracking-tighter font-thin text-sm lg:text-lg">{name}</span>
  </a>
</li>
