---
import NavigationItem from "./NavigationItem.astro";

const navItems = [
  {
    "name": "Home",
    "ref": "",
  },
  {
    "name": "Portfolio",
    "ref": "portfolio",
  },
  {
    "name": "Resume",
    "ref": "resume",
  },
  {
    "name": "Blog",
    "ref": "blog",
  },
  {
    "name": "About",
    "ref": "about",
  },
];
---
<nav class="flex flex-col sm:flex-row items-center sm:justify-start text-white py-3" style="    background-color: #181F31; box-shadow: 0px 5px 8px 0px #000000;">
  <span class="text-lg font-bold ml-0 sm:ml-5 mb-1 sm:mr-2 sm:mb-0 p-2" style="border: 1px solid white; border-radius: 10%;">CB</span>

  <ul class="flex sm:mr-5">
    {navItems.map((data) => <NavigationItem name={data.name} ref={data.ref}/>)}
  </ul>

</nav>



