---
const {name, ref, type} = Astro.props
const pathname = Astro.url.pathname.substring(1);
---
<li class="mx-2 last:mr-0 opacity-80 hover:opacity-100 hover:scale-110 transition duration-300 ease-in-out">
  <a class="underline decoration-1 underline-offset-8" href={ref}>
    <span class="text-sm">{name}</span>
  </a>
</li>

