---
const {name, ref, type} = Astro.props
const pathname = Astro.url.pathname.substring(1);
---
<li class="mx-2 my-1">
  <a class={`${type === "link"  ? "text-ghost-white hover:text-copper-crayola transition duration-300 ease-in-out underline decoration-2 underline-offset-8 decoration-1 decoration-solid decoration-copper-crayola" : "p-3 text-copper-crayola border rounded-md border-solid border-copper-crayola hover:bg-copper-crayola/25 transition duration-300 ease-in-out"}`} href={ref}>
    <span class="">{name}</span>
  </a>
</li>

