---
import NavigationItem from "./NavigationItem.astro";

const navItems = [
{
    "name": "Experience",
    "ref": "#experience",
    "type":"link",
  },
  {
    "name": "Portfolio",
    "ref": "#portfolio",
    "type":"link",
  },
  {
    "name": "About",
    "ref": "#about",
    "type":"link",
  },
  {
    "name": "Blog",
    "ref": "/blog",
    "type":"link",
  },
  {
    "name": "Resume",
    "ref": "favicon.svg",
    "type": "button",
  },
];
---
<nav class="flex flex-col sm:flex-row items-center sm:justify-start py-3">
  <span class="text-lg font-bold ml-0 sm:ml-5 mb-1 sm:mr-2 sm:mb-0 p-2 border rounded-md border-solid border-copper-crayola hover:bg-copper-crayola/25 transition duration-300 ease-in-out">CB</span>

  <ul class="flex sm:mr-5">
    {navItems.map((data) => <NavigationItem name={data.name} ref={data.ref} type={data.type}/>)}
  </ul>

</nav>



