---
import LinkCard from "./LinkCard.astro";

const elements = [
  {
    "title": "Personal Github Repo",
    "body": "Check out what I do!",
    link: "https://github.com/cjbohlman",
  },
  {
    link:"https://github.com/cjbohlman/smogon_scraper",
    title:"Smogon Scraper",
    body:"Web scraper of Smogon data, a competitive e-sports website"
  },
  {
    link:"https://github.com/cjbohlman/cjbohlman.github.io",
    title:"Personal Website",
    body:"Proudly made with Astro 🚀"
  },
  {
    link:"https://github.com/cjbohlman/parallel-computing-problems",
    title:"Parallel Computing Problems in C",
    body:"Implemented various parallel computing problems with C POSIX threads"
  }
];
---
<h2 class="text-3xl mb-5 font-serif">Projects</h2>
<ul role="list" class="link-card-grid">
  {elements.map(element => <LinkCard title={element.title} body={element.body} link={element.link} />)}
</ul>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
