---
import ProjectCard from "./ProjectCard.astro";

const projects = [
  {
    title: "Personal Github Repo",
    description: "Check out what I do!",
    link: "https://github.com/cjbohlman",
  },
  {
    link:"https://github.com/cjbohlman/snake_containment",
    title:"Snake Containment",
    description:"Static code analyzer for detecting security vulnerabilities, built with Python"
  },
  {
    link:"https://github.com/cjbohlman/cjbohlman.github.io",
    title:"Personal Website",
    description:"Proudly made with Astro 🚀"
  },
  {
    link:"https://github.com/cjbohlman/coreskills",
    title:"CoreSkills",
    description:"Learning platform for programming skills in an AI-driven world, built with TypeScript"
  }
];
---
<section id="projects" class="mt-12">
  <h2 class="text-xl">Projects</h2>
  <ul>
    {projects.map(element => <ProjectCard title={element.title} description={element.description} link={element.link} />)}
  </ul>
</section>
