---
export interface Props {
	title: string;
}

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-gray-300 bg-midnight text-desert grid max-w-7xl mx-auto">
		<div class="m-3 lg:grid lg:grid-cols-4">
			<div class="col-span-1">
				<Header />
			</div>
			<div class="lg:col-span-3 m-1">
				<slot />
			</div>
		</div>
		<Footer />
		<script>
		import "../scripts/index.js";
		</script>
	</body>
</html>
