---
export interface Props {
	title: string;
}

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <link rel="preload" href="Hubot-Sans.woff2" as="font" type="font/woff2" crossorigin>
	</head>
	<body class="text-copper-crayola bg-oxford-blue">
    <Header />
		<slot />
    <Footer />
    <script>
      import "../scripts/index.js";
    </script>
	</body>
</html>
<style is:global>
  @font-face {
    font-family: 'Hubot Sans';
    src:
      url('Hubot-Sans.woff2') format('woff2 supports variations'),
      url('Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
	html {
    font-family: 'Hubot Sans';
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
