---
import Layout from "./Layout.astro";
import '../styles/global.css';
import '../styles/post.css'
const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title}>
  <main class="m-auto p-6 prose dark:prose-invert">
    <p>{frontmatter.pubDate.toString().slice(0,10)}</p>
    <h1 class='text-3xl capitalize pb-6'>{frontmatter.description}</h1>

    <div class="tags">
      {frontmatter.tags.map((tag: unknown) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>

    <slot />
  </main>
</Layout>


<style>
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  a {
    color: #ffffff;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.25em;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    border: #ffffff;
  }

</style>
